@model IEnumerable<JEPortfolioApp.Models.Project>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (User != null && User.Identity.Name == "JonasEnglish0@gmail.com")
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.Raw("Project Image")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.Raw("Date Finished")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src=@Url.Content(item.ImagePath) alt="No Image Found!" style="width:200px;height:200px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.Raw($"{item.Month}/{item.Year}")
                </td>
                <td>
                    @if(User != null && User.Identity.Name == "JonasEnglish0@gmail.com"){
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a><text> | </text>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a><text> | </text>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }else{
                        <a asp-action="Details" asp-route-id="@item.Id">Details </a>
                    }
                    @if (item.FilePath != string.Empty && item.FilePath != null)
                    {
                        <text> | </text><a href="@Url.Action("DownloadFile", "Projects", new {link=$"{item.FilePath}"})">
                        <text>Download</text>
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
